.enterprise section {
    padding: 60px 0px;
}

.enterpriseBnr {
    padding: 120px 0px 60px 0px !important;
}

.enterprise h2 {
    font-weight: 800;
    font-size: 40px;
    line-height: 123.4%;
    text-transform: capitalize;
}

.enterprise h2 span {
    font-weight: 800;
    font-size: 16px;
    line-height: 123.4%;
    text-transform: uppercase;
    color: var(--btnCol);
}


.enterprise .accordHead {
    font-size: 24px !important;
    font-weight: 400 !important;
    line-height: 1.2em !important;
}



/*Results Section*/
.resultRow {
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #2a3948;
}

.resultCard {
    padding: 20px;
    border: 1px solid #2a3948;
    border-radius: 10px;
    background: linear-gradient(135deg, rgba(255, 111, 97, .2), rgba(255, 111, 97, 0));
}

/*Why Choose*/
.whyCard {
    background: linear-gradient(135deg, rgba(255, 111, 97, .2), rgba(255, 111, 97, 0));
    border: 1px solid #2a3948;
    border-radius: 10px;
    padding: 20px 40px;
    margin-bottom: 20px;
    text-align: left;
    transform: skewY(5deg);
    transition: .3s;
}

.whyCard:hover {
    transform: rotate(360deg);
}

.whyCard svg {
    font-size: 50px;
    margin-bottom: 10px;
}

.whyCard h3 {
    font-size: 24px;
    font-weight: 600;
}

.whyCard p {
    margin: 0;
}

/*CaseStudy Section CSS*/
.caseCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 350px;
    margin-bottom: 20px;
    text-align: left;
    padding: 20px;
    border: 1px solid #2a3948;
    border-radius: 5px;
    background-size: 100%;
    background-position: center;
    position: relative;
    transition: background-size 0.8s cubic-bezier(0.25, 0.1, 0.25, 1);
    cursor: pointer;
}

.caseCard:hover {
    background-size: 115%;
}

.caseCard:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: -1;
}

.caseStat {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.caseHead h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.caseStat p {
    font-size: 12px;
    color: #fff;
    line-height: 18px;
    margin-bottom: 0;
}

.caseStat p span {
    font-size: 30px;
    background: linear-gradient(90deg, #e76f51 65%, #ee4c8d 99.54%);
    background-clip: text;
    color: transparent;
}