@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
  --ftrBackground: #192733;
  --textLight: #ffffff;
  --textDark: #000000;
  --btnCol: #E87354;
  --ftrLink: rgba(255, 255, 255, 0.52);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Calibri, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: Georgia, 'Times New Roman', Times, serif; */
  font-family: Calibri, sans-serif;
  margin: 10px 0px;
  line-height: 1.2em;
}

h1 {
  font-weight: 700;
}

h2 {
  font-weight: 600;
  text-transform: uppercase;
}

a {
  text-decoration: none !important;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2em;
}

a:hover {
  color: var(--btnCol);
}

p {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 400;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0 !important;
}

li {
  margin: 5px 0px;
}


/*MegaMenu Header Styles*/

/* Navbar styles */
.navToggler {
  border: none;
}

.collapse {
  justify-content: end;
}

/* Custom padding for navbar links in larger screens */
@media (min-width: 768px) {
  .navbar {
    padding: 0 1rem;
  }

  .navbar .navLink {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

/* Megamenu styling */
.megamenu {
  background-color: #efefef;
  position: absolute;
  left: 0;
  right: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  display: none;
  margin-top: 0px;
}

/* Show megamenu when hovering on dropdown */
.mega-dropdown:hover>.megamenu {
  display: block;
}

/* Hidden input styling (used for toggling in original design) */
.hidden {
  display: none;
}

.megamenu a {
  color: var(--textDark);
}

.megamenu a:hover {
  color: var(--btnCol);
}

.megamenu .nav-item a {
  font-size: 16px;
}

.megamenu .nav-item a:hover {
  background-color: var(--btnCol);
}

.megamenu .nav-link.active {
  background-color: var(--btnCol) !important;
}

/* .megamenu .list-group-item {
  background-color: transparent;
  border: none;
} */

.megamenu .list-group-item a {
  font-size: 14px;
}

/* .megamenu .list-group-item:hover {
  background-color: var(--background);
  border-radius: 0px;
} */

/*MegaMenu Header Style Ends*/


/*CTA Button*/
.ctaButton {
  background-color: #e76f51;
  text-align: center;
  padding: 10px 50px;
  position: fixed;
  top: 50%;
  z-index: 99999;
  right: -65px;
  transform: translatey(-50%) rotate(-90deg);
  min-width: 180px;
  font-size: 22px;
}

.ctaButton a {
  color: var(--textLight);
}