@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
  --ftrBackground: #192733;
  --textLight: #ffffff;
  --textDark: #000000;
  --btnCol: #E87354;
  --ftrLink: rgba(255, 255, 255, 0.52);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Calibri, sans-serif;
  background-color: var(--ftrBackground) !important;
  color: var(--textLight) !important;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: Georgia, 'Times New Roman', Times, serif; */
  font-family: Calibri, sans-serif;
  margin: 10px 0px;
  line-height: 1.2em;
}

h1 {
  font-weight: 700;
}

h2 {
  font-weight: 600;
  text-transform: uppercase;
}

a {
  text-decoration: none !important;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2em;
}

a:hover {
  color: var(--btnCol);
}

p {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 400;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0 !important;
}

li {
  margin: 5px 0px;
}


/*MegaMenu Header Styles*/

/* Navbar styles */
.navToggler {
  border: none;
}

.collapse {
  justify-content: end;
}

/* Custom padding for navbar links in larger screens */
@media (min-width: 768px) {
  .navbar {
    padding: 0 1rem;
  }

  .navbar .navLink {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

/* Megamenu styling */
.megamenu {
  background-color: #efefef;
  position: absolute;
  left: 0;
  right: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  display: none;
  margin-top: 0px;
}

/* Show megamenu when hovering on dropdown */
.mega-dropdown:hover>.megamenu {
  display: block;
}

/* Hidden input styling (used for toggling in original design) */
.hidden {
  display: none;
}

.megamenu a {
  color: var(--textDark);
}

.megamenu a:hover {
  color: var(--btnCol);
}

.megamenu .nav-item a {
  font-size: 16px;
}

.megamenu .nav-item a:hover {
  background-color: var(--btnCol);
}

.megamenu .nav-link.active {
  background-color: var(--btnCol) !important;
}

/* .megamenu .list-group-item {
  background-color: transparent;
  border: none;
} */

.megamenu .list-group-item a {
  font-size: 14px;
}

/* .megamenu .list-group-item:hover {
  background-color: var(--background);
  border-radius: 0px;
} */

/*MegaMenu Header Style Ends*/


/*CTA Button*/
.ctaButton {
  background-color: #e76f51;
  text-align: center;
  padding: 10px 50px;
  position: fixed;
  top: 50%;
  z-index: 99;
  right: -75px;
  transform: translatey(-50%) rotate(-90deg);
  min-width: 180px;
  font-size: 22px;
}

.ctaButton a {
  color: var(--textLight);
}


/*Home Tab CSS*/
.homeTb {
  align-content: center;
}

.homeTb .nav-item a {
  box-shadow: 0 2px 24px 0 rgba(110, 123, 129, .2) !important;
  border-radius: 8px !important;
  color: var(--textDark);
  background: var(--background) !important;
  margin-bottom: 10px;
  font-weight: 600;
  padding: 10px;
  align-items: center;
}

.homeTb .nav-link.active {
  background-color: var(--btnCol) !important;
}

.tabCont .tebPane {
  border-radius: 20px;
  background: linear-gradient(180deg, #192733 40%, #E87354 0%);
  padding: 10px;
  color: #fff;
  text-align: center;
}

.tebPane img {
  margin-bottom: 10px;
}

.tebPane h3 {
  font-weight: 600;
  font-size: 24px;
}

.tebPane p {
  text-align: left;
}


/*Services Tab*/

.serveTb .nav-item {
  cursor: pointer;
  position: sticky;
  top: 113px;
}

.serveTb .nav-link {
  background: var(--background);
  border-radius: 20px;
  padding: 35px 30px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  box-shadow: 0 15px 30px rgb(0 0 0 / 16%);
  color: var(--textDark);
  font-size: 22px;
  font-weight: 700;

}

.serveTb .nav-pills .nav-link.active {
  background-color: transparent;
}

.serveTb .nav-link:hover {
  color: var(--btnCol);
}

.serveTb .nav-link.active {
  background: #f99b1c;
  background: linear-gradient(to right, #f99b1c 0, #ff6f00 100%);
  box-shadow: 0 2px 0 3px #000;
}

.serveTb .nav-link span {
  font-size: 40px;
  font-weight: 700;
  background: #ebebeb;
  background: linear-gradient(to bottom, #ebebeb 0, #fff 100%);
  background-clip: text;
  color: transparent;
}

.serveTb .nav-link.active span {
  background: linear-gradient(to top, rgba(255, 255, 255, .1) 0, #fff 100%);
  background-clip: text;
  color: transparent;
}

.nextServe {
  background: #36415e;
  color: var(--background);
  background: linear-gradient(to right, #36415e 0, #1b1f30 100%);
  border-radius: 20px;
  padding: 30px;
}

.serCont {
  align-content: center;
}

.serveCont h3 {
  font-size: 40px;
  color: var(--textLight);
  font-weight: 700;
  margin-bottom: 10px !important;
}

.serveCont h4 {
  font-size: 22px;
  color: var(--textLight);
  font-weight: 500;
  margin-bottom: 20px !important;
}

.serveCont p {
  color: var(--textLight);
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 40px;
}

.serveCont a {
  background: var(--btnCol);
  background: linear-gradient(to right, #f99b1c 0, #ff6f00 100%);
  border-radius: 10px;
  padding: 10px 15px;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--textLight);
  font-weight: 600;
  box-shadow: 0 2px 0 3px #000;
  border: none;
}

.servIcon {
  margin-top: 40px !important;
  text-align: center;
}

.servIcon svg {
  width: 35px;
  height: 35px;
}

.servIcon p {
  color: var(--textLight);
  font-size: 16px;
  font-weight: 600;
}

.react-international-phone-input {
  width: 100%;
}


.subBtn {
  color: var(--textLight);
  width: 50%;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  background-color: var(--btnCol) !important;
  padding: 10px 15px;
  border: 1px solid var(--btnCol) !important;
}


/*Media Queries*/

@media screen and (max-width: 450px) {
  .ctaButton {
    padding: 0px;
  }
}