.bannerMain {
    background-color: #F7F9FC;
    padding: 120px 0px 60px 0px;
}

.inStartups {
    width: 50%;
    cursor: pointer;
    border-radius: 8px;
    background: linear-gradient(90deg, #e76f51 0%, #EE4C8D 100%);
    padding: 5px;
    margin: 10px 0px;
    position: relative;
    overflow: hidden;
}

.inStartups a {
    text-decoration: none;
    color: var(--textLight);
}

.inStartups a:hover {
    color: var(--textLight);
}

.inStartups a svg {
    color: var(--textLight);
}

.inStartups a svg:hover {
    color: var(--textLight);
}

.inStartups p {
    font-size: 14px !important;
    padding: 0px;
    margin: 0px;
}

.inStartups:after {
    content: '';
    top: 0;
    transform: translateX(100%);
    width: 100%;
    height: 100px;
    position: absolute;
    overflow: hidden;
    z-index: 1;
    animation: 2.2s ease-in-out infinite slide;
    background-image: url("/assets/slide.svg");
    background-repeat: no-repeat;
}

@keyframes slide {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

.banLeft h1 span {
    background: linear-gradient(90deg, #e76f51 65%, #EE4C8D 99.54%);
    background-clip: text;
    color: transparent;
    font-size: 40px !important;
}

.banLeft h1 {
    font-size: 55px;
    font-weight: 700;
}

.bannerBtn {
    display: flex;
    gap: 20px;
}

.btnHire {
    display: inline-flex;
    padding: 10px 20px;
    gap: 10px;
    border-radius: 50px;
    background: linear-gradient(90deg, #e76f51 65%, #EE4C8D 99.54%);
    border: 2px solid var(--btnCol);
    color: var(--textLight);
    font-size: 20px;
    font-weight: 600;
    align-items: center;
    justify-content: center;
}

.btnHire:hover {
    color: var(--textLight);
    transition: .3s ease-in;
}

.btnCont {
    display: inline-flex;
    padding: 10px 20px;
    gap: 10px;
    border-radius: 50px;
    border: 2px solid var(--btnCol);
    border-radius: 50px;
    background: linear-gradient(90deg, #e76f51 65%, #EE4C8D 99.54%);
    color: var(--textLight);
    font-size: 20px;
    font-weight: 600;
    align-items: center;
    text-decoration: none;
}

.btnCont:hover {
    color: var(--textLight);
    transition: .3s ease-in;
}

.review {
    display: flex;
    align-items: end;
    gap: 20px;
    margin-top: 30px;
}

.rev {
    width: 50%;
}

.ratings {
    display: flex;
    gap: 10px;
    align-items: center;
}

.branding {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.devs {
    width: 50%;
}

.devs ul {
    display: flex;
    gap: 5px;
    align-items: center;
}

.devs ul img {
    width: 30px;
    height: 30px;
}

.inStart {
    display: flex;
    gap: 20px;
}

.banRight {
    align-content: center;
}

.bannerImg {
    width: 100%;
    height: auto;
}

.homeTabs {
    padding: 30px 0px 30px 0px;
}

.homeTabs h2 {
    font-size: 36px;
    font-weight: 600;
    text-transform: capitalize;
}

.homeTabs h2 span {
    color: var(--btnCol);
    font-size: 16px;
    text-transform: uppercase;
}

.vettProc {
    padding: 30px 0px;
    background-color: #F7F9FC;
}

.procHead h2 {
    font-size: 50px;
    font-weight: 600;
    text-transform: capitalize;
}

.procHead h2 span {
    background: linear-gradient(90deg, #e76f51 65%, #EE4C8D 99.54%);
    background-clip: text;
    color: transparent;
}

.procLeft {
    align-content: center;
}

.procRight {
    align-content: center;
}

.procHire {
    text-align: center;
    justify-content: center;
}

.procHire h3 {
    font-weight: 400;
    font-size: 24px;
    text-transform: capitalize;
}

.procHire h3 span {
    background: linear-gradient(90deg, #e76f51 65%, #EE4C8D 99.54%);
    background-clip: text;
    color: transparent;
}

.procHire a {
    width: auto;
    padding: 10px 20px;
    border-radius: 50px;
    border: 2px solid var(--btnCol);
    border-radius: 50px;
    background: linear-gradient(90deg, #e76f51 65%, #EE4C8D 99.54%);
    color: var(--textLight);
    font-size: 20px;
    font-weight: 600;
}

.proc {
    padding: 30px 0px;
}

.nextServices {
    padding: 30px 0px 60px 0px;
}

.nextServices h2 {
    font-size: 36px;
    font-weight: 600;
    text-transform: capitalize;
}

.nextServices h2 span {
    color: var(--btnCol);
    font-size: 16px;
    text-transform: uppercase;
}


.projectBg {
    background-image: url(/assets/projects-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: center center; */
    background-position-x: 45%;
    padding: 20px 0px;
}

.projRow {
    justify-content: flex-end;
}

.projRow h2 {
    font-size: 36px;
    text-transform: capitalize;
    color: var(--textLight);
}

.projRow p {
    color: var(--textLight);
}

.projRow span {
    font-size: 30px;
    background: linear-gradient(90deg, #e76f51 65%, #EE4C8D 99.54%);
    background-clip: text;
    background-clip: text;
    color: transparent;
}

.industry {
    padding: 60px 0px 0px 0px;
}

.industry h2 span {
    color: var(--btnCol);
    font-size: 16px;
    text-transform: uppercase;
}

.industry h2 {
    font-size: 36px;
    font-weight: 600;
    text-transform: capitalize;
}

.inds {
    padding: 30px 0px;
    text-align: center;
}

.inds p {
    margin-top: 20px;
    font-size: 18px;
}

.indsImg {
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.indsOne {
    background-image: url(/assets/e-commerce-bg.svg);
}

.indsTwo {
    background-image: url(/assets/healthcare-bg.svg);
}

.indsThree {
    background-image: url(/assets/education-bg.svg);
}

.indsFour {
    background-image: url(/assets/media-bg.svg);
}

.indsFive {
    background-image: url(/assets/real-estate-bg.svg);
}

.indsSix {
    background-image: url(/assets/logistics-bg.svg);
}

.indsSeven {
    background-image: url(/assets/retail-bg.svg);
}

.indsEight {
    background-image: url(/assets/fast-food-bg.svg);
}

.indsNine {
    background-image: url(/assets/fmcg-bg.svg);
}

.indsTen {
    background-image: url(/assets/travel-bg.svg);
}

.indsCol {
    cursor: pointer;
    padding: 10px;
    transition-duration: 0.5s;
}

.indsCol:hover {
    border-radius: 8px;
    /* box-shadow: 0 0 10px 7px rgba(0, 0, 0, .03); */
    box-shadow: 0 0 10px 5px var(--btnCol);
    /* border-bottom: 8px solid var(--btnCol); */
    transform: scale(0.8);
}

.indsCol:hover p {
    color: var(--btnCol);
}


.indsCol:hover .indsImg img {
    opacity: 0;
}

.testimonial {
    padding: 30px 0px;
    background-color: #F7F9FC;
}

.viewAll {
    margin-bottom: 60px;
}

.allBtn {
    align-content: end;
    text-align: end;
}

.allBtn a {
    color: var(--textLight);
    text-align: center;
    background-color: var(--btnCol);
    padding: 10px 25px;
    border-radius: 8px;
    border: 1px solid var(--btnCol);
    transition: all .3s ease-in-out;
}

.viewTest {
    align-items: center;
}

.viewTest h2 {
    font-size: 36px;
    line-height: 25px;
    font-weight: 500;
    text-transform: lowercase;
    font-style: italic;
    margin: 0;
}

.quote {
    width: 20%;
}

.trs {
    width: 80%;
}

.trust {
    color: var(--btnCol);
    font-size: 16px;
    text-transform: uppercase;
}

.clients {
    font-size: 36px;
    background: linear-gradient(90deg, #e76f51 65%, #EE4C8D 99.54%);
    background-clip: text;
    color: transparent;
}

.clientReview {
    padding-bottom: 60px;
}

.clientReview h2 {
    font-size: 30px;
    text-transform: capitalize;
}

.testimonial ul {
    display: flex;
    color: var(--btnCol);
}

.brandRating {
    align-items: center;
}

.brandRating h2 {
    font-size: 24px;
    margin: 0;
}

.brandRating img {
    width: 100%;
    height: 100%;
}


/*Case Study*/
.caseStudy {
    padding: 30px 0px 60px 0px;
}

.caseStudy h2 {
    font-size: 36px;
    font-weight: 600;
    text-transform: capitalize;
}

.caseStudy h2 span {
    color: var(--btnCol);
    font-size: 16px;
    text-transform: uppercase;
}

.allCase {
    align-content: center;
    text-align: end;
}

.allCase a {
    color: var(--textLight);
    text-align: center;
    background-color: var(--btnCol);
    padding: 10px 25px;
    border-radius: 8px;
    border: 1px solid var(--btnCol);
    transition: all .3s ease-in-out;
}

.caseStd {
    gap: 20px;
}

.caseStdOne,
.caseStdTwo,
.caseStdThree {
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    height: 400px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--textLight);
    padding: 20px;
    border-radius: 5px;
    transition-duration: 1s;
    overflow: hidden;
    background-color: var(--textDark);
    position: relative;
    z-index: 1;
}

.caseStdOne:before,
.caseStdTwo:before,
.caseStdThree:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.caseStdOne:hover,
.caseStdTwo:hover,
.caseStdThree:hover {
    transform: scale(0.9);
}

.caseStdOne {
    background-image: url(/assets/case-study-0ne.webp);
}

.caseStdTwo {
    background-image: url(/assets/case-study-Two.webp);
}

.caseStdThree {
    background-image: url(/assets/case-study-three.png);
}

.caseHead p {
    font-size: 28px;
    font-weight: 600;
}

.caseCount p span {
    font-size: 30px;
    background: linear-gradient(90deg, #e76f51 65%, #EE4C8D 99.54%);
    background-clip: text;
    color: transparent;
}

.caseCount p {
    font-size: 12px;
    color: var(--textLight);
    line-height: 18px;
    margin-bottom: 0;
}

/*Media Queries*/

@media screen and (max-width: 769px) {
    .bannerMain {
        padding: 130px 0px !important;
    }
}

@media screen and (max-width: 450px) {
    .banRight {
        margin-top: 20px;
    }

    .inStart {
        flex-direction: column;
    }

    .inStartups {
        width: 100% !important;
        margin: 0px !important;
    }

    .viewAll {
        margin-bottom: 30px;
    }

    .allBtn {
        align-content: center;
    }

    .quote {
        width: 50% !important;
    }

    .trust {
        font-size: 12px;
    }

    .trs {
        width: 50% !important;
    }

    .trs h2 {
        line-height: 1.2em;
        font-size: 24px;
    }

    .clients {
        font-size: 24px;
    }

    .videoTest {
        flex-direction: column;
    }

    .case {
        flex-direction: column;
        padding: 10px;
    }

    .caseStd {
        flex-direction: column;
        padding: 20px;
    }

    .proc {
        flex-direction: column;
        padding: 10px;
    }

    .nextServices {
        padding: 30px 10px;
    }

}