.bannerMain {
    background-color: linear-gradient(180deg, #F8F8FC 0.42%, #EEF2FD 83.6%);
    padding: 120px 0px;
}

.inStartups {
    width: 50%;
    cursor: pointer;
    border-radius: 8px;
    background: linear-gradient(90deg, #e76f51 0%, #EE4C8D 100%);
    padding: 5px;
    margin: 10px 0px;
    position: relative;
    overflow: hidden;
}

.inStartups a {
    text-decoration: none;
    color: var(--textLight);
}

.inStartups a:hover {
    color: var(--textLight);
}

.inStartups a svg {
    color: var(--textLight);
}

.inStartups a svg:hover {
    color: var(--textLight);
}

.inStartups p {
    font-size: 14px !important;
    padding: 0px;
    margin: 0px;
}

.inStartups:after {
    content: '';
    top: 0;
    transform: translateX(100%);
    width: 100%;
    height: 100px;
    position: absolute;
    overflow: hidden;
    z-index: 1;
    animation: 2.2s ease-in-out infinite slide;
    background-image: url("../assets/slide.svg");
    background-repeat: no-repeat;
}

@keyframes slide {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

.banLeft h1 span {
    background: linear-gradient(90deg, #e76f51 65%, #EE4C8D 99.54%);
    background-clip: text;
    color: transparent;
}

.bannerBtn {
    display: flex;
    gap: 20px;
}

.btnHire {
    display: inline-flex;
    padding: 10px 20px;
    gap: 10px;
    border-radius: 50px;
    background: linear-gradient(90deg, #e76f51 65%, #EE4C8D 99.54%);
    border: 2px solid var(--btnCol);
    color: var(--textLight);
    font-size: 20px;
    font-weight: 600;
    align-items: center;
    justify-content: center;
}

.btnHire:hover {
    color: var(--textLight);
    transition: .3s ease-in;
}

.btnCont {
    display: inline-flex;
    padding: 10px 20px;
    gap: 10px;
    border-radius: 50px;
    border: 2px solid var(--btnCol);
    border-radius: 50px;
    background: linear-gradient(90deg, #e76f51 65%, #EE4C8D 99.54%);
    color: var(--textLight);
    font-size: 20px;
    font-weight: 600;
    align-items: center;
    text-decoration: none;
}

.btnCont:hover {
    color: var(--textLight);
    transition: .3s ease-in;
}

.review {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
}

.rev {
    width: 50%;
}

.ratings {
    display: flex;
    gap: 10px;
    align-items: center;
}

.branding {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.devs {
    width: 50%;
}

.devs ul {
    display: flex;
    gap: 5px;
    align-items: center;
}

.devs ul img {
    width: 30px;
    height: 30px;
}

.inStart {
    display: flex;
    gap: 20px;
}

.banRight {
    align-content: center;
}

.bannerImg {
    width: 100%;
    height: auto;
}






.projectBg{
    background-image: url(../assets/projects-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: center center; */
    background-position-x: 45%;
    padding: 20px 0px;
}
.projRow{
    justify-content: flex-end;
}

.projRow h2{
    font-size: 36px;
    text-transform: capitalize;
    color: var(--textLight);
}
.projRow p{
    color: var(--textLight);
}
.projRow span{
    font-size: 30px;
    background: linear-gradient(90deg, #e76f51 65%, #EE4C8D 99.54%);
    background-clip: text;
    background-clip: text;
    color: transparent;
}

.industry{
    padding: 100px 0px;
}
.industry h2 span{
    color: var(--btnCol);
    font-size: 16px;
    text-transform: uppercase;
}
.industry h2{
    font-size: 36px;
    font-weight: 600;
    text-transform: capitalize;
}

.inds{
    padding: 30px 0px;
    text-align: center;
}

/*Media Queries*/

@media screen and (max-width: 769px) {
    .bannerMain {
        padding: 120px 0px !important;
    }
}