.mobHeader {
    background-color: var(--ftrBackground);
    margin: 0;
    padding: 0;
}

.toggleNav:focus {
    box-shadow: none !important;
}

/*Media Queries*/

@media (min-width: 790px) {
    .mobHeader {
        display: none !important;
    }
}