.serviceHdr section {
  padding: 60px 0px;
}

.serviceHdr h1 {
  font-size: 56px;
  font-weight: 900;
  line-height: 64px;
  letter-spacing: -.042em;
}

.serviceHdr h2 {
  font-size: 50px;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 30px;
}

.serviceHdr h1 span {
  background: linear-gradient(90deg, #e76f51 65%, #EE4C8D 99.54%);
  background-clip: text;
  color: transparent;
}

.serviceHdr h2 span {
  background: linear-gradient(90deg, #e76f51 65%, #EE4C8D 99.54%);
  background-clip: text;
  color: transparent;
}

.serviceHdr p {
  margin-bottom: 20px;
}

.ctaBtn {
  display: inline-block;
  background: linear-gradient(90deg, #e76f51 65%, #EE4C8D 99.54%);
  border: 1px solid var(--btnCol);
  color: #fff;
  padding: 15px 20px;
}

.ctaBtn:hover {
  color: #fff;
}


.deliverables,
.approach,
.grow,
.whyChoose {
  background-color: #142330;
}

/*Banner Section*/

.serviceBanner {
  padding: 120px 0px 60px 0px !important;
}

.flipBox {
  background-color: transparent;
  width: 250px;
  height: 250px;
  perspective: 1000px;
}

.flipBoxInner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  border-radius: 50%;
}

.flipBox:hover .flipBoxInner {
  transform: rotateY(180deg)
}

.flipBoxFront,
.flipBoxBack {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 50%;
}

.flipBoxFront {
  background: linear-gradient(135deg, rgba(255, 111, 97, .2), rgba(255, 111, 97, 0));
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.flipBoxBack {
  background: linear-gradient(135deg, rgba(255, 111, 97, .2), rgba(255, 111, 97, 0));
  padding: 20px;
  color: white;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flipBoxFront h2,
.flipBoxBack h2 {
  margin-bottom: 10px;
}

.flipBoxFront p,
.flipBoxBack p {
  margin-bottom: 5px;
}

.flipBoxFront p span {
  font-size: 14px;
}

.vertMove {
  color: #fff;
  font-size: 30px;
}

.vertMove svg {
  animation: mover 1s infinite alternate;
}

@keyframes mover {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}

/*Deliverables Section CSS*/

.tabLink a {
  color: #fff;
  background: linear-gradient(135deg, rgba(255, 111, 97, .2), rgba(255, 111, 97, 0));
  padding: 10px 20px;
  margin-bottom: 15px;
}

.tabLink a:hover {
  color: #fff;
}

.delTabCont {
  text-align: justify;
}

/*CaseStudy Section CSS*/
.caseStudy {
  text-align: center;
}

.caseCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 350px;
  margin-bottom: 20px;
  text-align: left;
  padding: 20px;
  border: 1px solid #2a3948;
  border-radius: 5px;
  background-size: 100%;
  background-position: center;
  position: relative;
  transition: background-size 0.8s cubic-bezier(0.25, 0.1, 0.25, 1);
  cursor: pointer;
}

.caseCard:hover {
  background-size: 115%;
}

.caseCard:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  z-index: -1;
}

.caseStat {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.caseHead h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.caseStat p {
  font-size: 12px;
  color: #fff;
  line-height: 18px;
  margin-bottom: 0;
}

.caseStat p span {
  font-size: 30px;
  background: linear-gradient(90deg, #e76f51 65%, #ee4c8d 99.54%);
  background-clip: text;
  color: transparent;
}


/*Approach Section CSS*/

.approachLink a {
  width: 50px;
  height: 50px;
  padding: 10px;
  text-align: center;
  align-content: center;
  color: #fff;
  background: linear-gradient(135deg, rgba(255, 111, 97, .2), rgba(255, 111, 97, 0));
  border-radius: 100% !important;
  margin-bottom: 20px;
}

.approachLink a:hover {
  color: #fff;
}

/*Pricing Section CSS*/

/*Grow Section CSS*/

/*Searches Section CSS*/

/*WhyChoose Section CSS*/
.whyCard {
  background: linear-gradient(135deg, rgba(255, 111, 97, .2), rgba(255, 111, 97, 0));
  border: 1px solid #2a3948;
  border-radius: 10px;
  padding: 20px 40px;
  margin-bottom: 20px;
  text-align: left;
}

.whyCard svg {
  font-size: 50px;
  margin-bottom: 10px;
}

.whyCard h3 {
  font-size: 24px;
  font-weight: 600;
}

.whyCard p {
  margin: 0;
}


/*ServiceFaq Section CSS*/